body {
	width: 100%;
	margin: 0px;
	font-family: 'Arsenal';
	background-color: white;
}

p, h3 {
	line-height: 1.6;
}

.homeMainImageContainer {
	/*border: solid 5px white;*/
	background-color: black;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100vw;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerBkg {
	/*background-attachment: fixed;*/
	/*background-color: #ffcb05;*/
	height: 60px;
	width: 100%;
	position: fixed;
	display: block;
	padding-top: 20px;
	top: 0;
}

.headerBkgAfter {
	background-color: black;
	padding-top: 0;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}

.navbar {
	justify-content: space-between;
	align-items: center;
	display: flex;
	width: 90%;
}

.headerLogo {
	display: inline-block;
	float: left;
}

.headerLogo img {
	max-height: 50px;
	margin: 5px 50px;
}

.headerLogo :hover {
	/* background-color: powderblue; */
}

.navMenuContainer {
	transition: width 2s linear 1s;
}

.navMenuList {
	/*border: solid 5px green;*/
	text-align: center;
	font-size: 15px;
	font-family: 'Arsenal';
	display: inline-block;
	list-style: none;
	margin-right: 10px;
}

.navMenu {
	/*border: solid 5px red;*/
	text-decoration: none;
	color: white;
	padding: 10px;
	text-align: center;
}

.navMenuList :hover {
	color: #ffcb05;
}

.navMenuContainer .current {
	color: #ffcb05;
}


.navSideMenuImage {
	/*border: solid 5px red;*/
	background-image: url('./Resources/navBar.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	margin: 10px;
	/*display: none;*/
	cursor: pointer;
	visibility: hidden;
}

.navSideMenuOverlayContainer {
	/*border: solid 5px pink;*/
	height: 100%;
	width: 0;
	background-color: rgb(0,0,0);
  	background-color: rgba(0,0,0, 0.9);
  	position: fixed;
	z-index: 0;
	left: 0;
	overflow: hidden;
	transition: 0.5s;
}

.navSideMenuContent {
	/*border: solid 5px yellow;*/
	width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
	background-color: black;
}

.navSideMenu {
	/*border: solid 5px red;*/
	text-decoration: none;
	color: white;
	display: block;
	padding: 20px;
}

.navSideMenuContent a:hover {
	color: #ffcb05;
}

.navSideMenuContent .current{
	color: #ffcb05;
}


.navbarIconNew {
	/*border: solid 5px white;*/
	background-image: url('./Resources/navigation-icon.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 30px;
	width: 100%;
}

.homeHiContainer {
	/*border: solid 5px black;*/
	display: grid;
	margin: auto;
	text-align: center;
}

.homeHiImageContainer {
	border-radius: 50%;
	background-image: url('./Resources/liwen.jpeg');
	background-position: 20% 60%;
	background-size: cover;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	max-height: 100%;
	margin: auto;
}

.homeSectionBreakerContainer {
	/*border: solid 5px green;*/
	display: flex;
	align-content: center;
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
}

.homeSectionBreaker {
	/*border: solid 5px pink;*/
	display: inline-flex;
	list-style: none;
	overflow: hidden;
	width: 450px;
	height: 2px;
	align-content: center;
	margin: 0;
}

.home-i-can-do-Container {
	/*border: solid 5px black;*/
	display: grid;
	margin: auto;
	text-align: center;
}

.home-i-can-help-Container {
	/*border: solid 5px black;*/
	display: grid;
	margin: auto;
	text-align: center;
}

.home-i-can-help-Container p {
	max-width: 450px;
	margin: auto;
}

.home-get-in-touch-ButtonContainer {
	/*border: solid 5px blue;*/
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.home-get-in-touch-Button {
	/*border: solid 5px yellow;*/
	border-radius: 10px;
	background-color: #ffcb05;
	text-decoration: none;
	padding: 15px;
	color: navy;
}

.home-get-in-touch-Button:hover {
	background-color: #ffcb05;
	border: solid 5px #ffcb05;
}

.aboutMainImageContainer {
	/*border: solid 5px white;*/
	background-color: black;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100vw;
	height: 70vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutNeonImageContainer {
	/*border: solid 5px yellow;*/
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
}

.about-who-am-i-Container {
	/*border: solid 5px green;*/
	display: grid;
	text-align: center;
	justify-content: center;
}

.about-experiences-Container {
	/*border: solid 5px green;*/
	display: grid;
	text-align: center;
	justify-content: center;
	margin: auto;
}

.about-project-ButtonContainer {
	/*border: solid 5px pink;*/
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.about-project-Button {
	border-radius: 10px;
	background-color: #ffcb05;
	color: navy;
	text-decoration: none;
	padding: 15px;
}

.about-project-Button:hover {
	background-color: #ffcb05;
	border: solid 5px #ffcb05;
}

.MainWords {
	max-width: 450px;
	margin: auto;
}

.projectBlockContainer {
	/*border: solid 5px green;*/
	display: flex;
	justify-content: center;
}

.projectContentContainer {
	/*border: solid 5px black;*/
	display: inline-flex;
	width: 250px;
	height: 250px;
}

.project-1 {
	border-radius: 15px;
	background-image: url('./Resources/cupq_main.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/* TEMPLATE FOR FUTURE PROJECTS
.project-2 {
	background-image: url('./Resources/olaf-2.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.project-3 {
	background-image: url('./Resources/olaf-3.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.project-4 {
	background-image: url('./Resources/olaf-4.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
*/

.projectContentHeading {
	/*border: solid 5px pink;*/
	width: 250px;
	height: 250px;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	cursor: pointer;
}

.projectContentContainer:hover .projectImage {
	/*border: solid 5px blue;*/
	opacity: 0.5;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

.projectContentContainer:hover .projectContentHeading {
	opacity: 1;
}

.projectPopupExitImageContainer {
	/*border: solid 5px cyan;*/
	width: 30px;
	height: 35px;
	display: flex;
	position: absolute;
	right: 15px;
	cursor: pointer;
	padding-top: 20px;
}

.projectPopupExitImage {
	/*border: solid 5px red;*/
	width: 100%;
	overflow: hidden;
}

.projectPopupContainer {
	/*border: solid 5px orange;*/
	background-color: white;
	width: 100vw;
	height: 100vh;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: grid;
	grid-template-rows: repeat(3);
	grid-template-rows: 20px 60% ;
	grid-gap: 5px;
	overflow: scroll;
}

.projectPopupImageContent {
	/*border: solid 5px lightcyan;*/
	display: flex;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	align-items: center;
}

.projectPopupImageContainer {
	/*border: solid 5px lightgreen;*/
	border-radius: 20px;
	overflow: hidden;
	display: block;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.projectPopupImage {
	/*border: solid 5px green;*/
	max-height: 100%;
	max-width: 100%;
	height: 100%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.projectPopupSliderContainer {
	/*border: solid 5px cyan;*/
	display: flex;
 	position: absolute;
 	width: 40px;
	height: 50px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}

.projectPopupSliderLeft {
 	left: 0;
}

.projectPopupSliderRight {
 	right: 0;
}

 .projectPopupSliderLeftImage {
 	/*border: solid 5px red;*/
 	height: 100%;
 	overflow: hidden;
 }

 .projectPopupSliderRightImage {
 	/*border: solid 5px red;*/
 	height: 100%;
 	overflow: hidden;
 }

.projectPopupText {
	/*border: solid 5px #ffd6ba;*/
	background-color: #ffd6ba;
	border-radius: 20px;
	display: block;
	height: 100%;
	padding-left: 50px;
	padding-right: 50px;
	margin: auto;
	margin-bottom: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

.projectPopupTagContainer {
	/*border: solid 5px lightblue;*/
	display: flex;
}

.projectPopupTag {
	/*border: solid 5px pink;*/
	background-color: #ffb5a7;
	border-radius: 20px;
	margin-right: 5px;
	font-size: 15px;
	padding: 5px 10px 5px 10px; /*top right bottom left*/
}

.projectHowItWorksList {
	list-style: none;
}

.projectPopupNameItalics {
	font-weight: bold;
	font-style: italic;
}

.projectPopupTitle {
	margin-bottom: 5px;
}

.projectPopupHeading {
	margin-bottom: -5px;
}

.projectEnlargeBackground {
	/*border: solid 5px cyan;*/
	background-color: rgba(255,255,255,0.5);
	opacity: 80%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	visibility: hidden;
}

.projectEnlargeImageContainer {
	/*border: solid 5px red;*/
	/*background-color: white;*/
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	visibility: hidden;
}

.projectEnlargeImage {
	/*border: solid 5px cyan;*/
	display: block;
	margin: auto;
}

.contact-email-Container {
	/*border: solid 5px green;*/
	display: flex;
	text-align: center;
	justify-content: center;
}

.contactImage {
	/*border: solid 5px blue;*/
	width: 100px;
}

.homeHelpImage {
	width: 100px;
}

.footerContainer {
	/*border: solid 5px green;*/
	display: block;
	bottom: 0;
	justify-content: center;
	background-color: #e5e6e4;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	margin: auto;
}

.socialMediaContent {
	/*border: solid 5px blue;*/
	display: block;
	text-align: center;
	margin-bottom: 30px;
}

.socialMediaLinkedin {
	/*border: solid 5px red;*/
	text-decoration: none;
	text-align: center;
	color: #1b98e0;
}

.footer-all-rights-Container {
	/*border: solid 5px yellow;*/
	display: block;
	text-align: center;
}

.topbottomPadding {
	/*border: solid 5px green;*/
	display: block;
	height: 90px;
}

.paraBreaker {
	/*border: solid 5px blue;*/
	display: block;
	height: 20px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.navMenuContainer {
		display: none;
	}

	.navSideMenuImage {
		visibility: visible;
	}

	.projectBlockContainer {
		display: block;
	}
	
	.projectContentContainer {
		display: flex;
		margin: auto;
	}

	.projectContentHeading {
		font-size: 12px;
	}

	.projectPopupContainer {
		width: 100vw;
		height: 100vh;
	}

	.projectEnlargeImage {
		width: 100%;
	}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.navMenuContainer {
		display: none;
	}

	.navSideMenuImage {
		visibility: visible;
	}

	.projectBlockContainer {
		display: block;
	}
	
	.projectContentContainer {
		display: flex;
		margin: auto;
	}

	.projectEnlargeImage {
		height: 100%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.navMenuContainer {
		display: contents;
	}

	.navSideMenuImage {
		visibility: hidden;
	}

	.projectBlockContainer {
		display: flex;
	}
	
	.projectContentContainer {
		display: flex;
		margin: 0;
	}

	.projectEnlargeImage {
		height: 100%;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.projectPopupText {
		padding-left: 100px;
		padding-right: 100px;
	}

	.projectEnlargeImage {
		height: 100%;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.projectPopupText {
		padding-left: 250px;
		padding-right: 250px;
	}

	.projectEnlargeImage {
		height: 100%;
	}
}























